<%= form_with(model: [gallery, photo], local: true, html: { multipart: true, class: "form-container" }) do |form| %>
  <div>
    <%= form.label :name, "Photo Name", class: "form-label" %><br>
    <%= form.text_field :name, class: "form-text" %>
  </div>

  <div>
    <%= form.label :image, "Upload Image", class: "form-label" %><br>
    <%= form.file_field :image, class: "form-img", id: "imageInput" %>
  </div>

  <!-- Hidden fields for crop data -->
  <%= hidden_field_tag "crop[x]", nil, id: "crop_x" %>
  <%= hidden_field_tag "crop[y]", nil, id: "crop_y" %>
  <%= hidden_field_tag "crop[width]", nil, id: "crop_width" %>
  <%= hidden_field_tag "crop[height]", nil, id: "crop_height" %>

  <!-- Preview image -->
  <div>
    <img id="preview" style="display:none; max-width: 100%; margin-top: 1rem;" />
  </div>

  <div>
    <%= form.submit photo.persisted? ? "Save Changes" : "Add to Gallery", class: "form-submit" %>
  </div>

  <% if photo.errors.any? %>
    <ul class="errors">
      <% photo.errors.full_messages.each do |msg| %>
        <li class="err-msg"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<% end %>
