<%= form_with model: gallery, class: "form-container" do |form| %>
  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-text"%>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-text"%>
  </div>

  <div>
    <%= form.submit @gallery.persisted? ? "Save Info" : "Create Gallery", class: "btn form-submit" %>
  </div>

  <% if gallery.errors.any? %>
    <ul class="errors">
      <% gallery.errors.full_messages.each do |msg| %>
        <li class="err-msg"><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

<% end %>